.video_container{
    width: 40vw;
    min-height: 200px
}

@media (max-width:991px){
    .video_container{
        width: 90%;
    }
}

.video{
    position: relative;
}

.overlay{
  content: '';
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   background-color: rgba(154, 154, 154, 0.101);/* Black background with opacity will be set from about.js component */
  z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}


@media (max-width:779px) {
    .facts_container{
        flex-direction: column;
        width: 100%;
    }

    .fact_items{
        width: 100%;
        text-align: center;
    }
}